main > section > div > img {
    width: 85%;
    height: auto;
}
#info_SupeHero {
    display: none;
}
.imagen {
    margin:0 auto;
    max-width: 40%;
}

.imagen > div > input {
    width: 70%
}

#hero-img {
    height: auto;
    width: 100%;
}